/* Base Application Styles */
*{
	margin:0;
	padding:0;
}
body {
  color: #fff;
  background: #ddd;
  font-family: 'Raleway Dots' , cursive;
  user-select:none;
}

.platform{
	perspective: 1000px;
}
.image-box{
	position: absolute;
	box-sizing:border-box;
	left: 0;
	top: 0;
	padding:10px;
	width: 210px;
	background:#fff;
	box-shadow: 2px 2px 1px #ccc;
	transform-style:preserve-3d;
	transform-origin:0 50% 0 ;
           transition: transform .6s ease-in-out, left .6s ease-in-out, top .6s ease-in-out;
	&.inverse{
			transform: translate(160px) rotateY(180deg);
	}
	.forward{
		position: relative;
		width: 100%;
		background:#fff;
		img{
			width: 100%;
		}
		-webkit-backface-visibility: hidden;
	}
	.back{
		position: absolute;
		left: 0;
		right:0;
		top:0;
		bottom:0;
		background:#fff;
		text-align:center;
		transform-origin: 50% 50%;
		transform: rotateY(180deg) translateZ(1px);
		box-shadow: 2px 2px 1px #ccc;
		.name{
			display: inline-block;
			margin-top:40%;
			vertical-align: middle;
			color:#000;
		}
	}

}
